:root {
    --color-text: 51, 51, 51;
    --color-white: 255, 255, 255;
    --color-black: 0, 0, 0;
    --color-accent: 54, 94, 220;
    --color-error: 237, 67, 55;
    --color-info: 33, 138, 255;
    --color-grey-dark: 156, 156, 156;
    --color-grey4: 68, 68, 68;
    --color-whiteFA: 250, 250, 250;
    --color-greyEC: 236, 236, 236;
    --color-greyB8: 184, 184, 184;
    --color-accent-light: 88, 111, 191;
    --color-grey: 222, 222, 222;
    --color-grey7: 119, 119, 119;
    --color-blue: 41, 146, 217;
    --color-gold: 230, 197, 83;
}

$text: var(--color-text);
$white: var(--color-white);
$whiteFA: var(--color-whiteFA);
$black: var(--color-black);
$accent: var(--color-accent);
$accentLight: var(--color-accent-light);
$error: var(--color-error);
$info: var(--color-info);
$greyDark: var(--color-grey-dark);
$greyEC: var(--color-greyEC);
$greyB8: var(--color-greyB8);
$grey4: var(--color-grey4);
$grey: var(--color-grey);
$grey7: var(--color-grey7);
$blue: var(--color-blue);
$gold: var(--color-gold);